 * {
     padding: 0px;
     margin: 0px;
 }

 /* ESTILOS DE LA TARJETA */

 .tarjeta {
     border: 1px #dbdbdb solid;
     webkit-box-shadow: 14px 14px 0px -5px rgba(240, 240, 240, 1);
     -moz-box-shadow: 14px 14px 0px -5px rgba(240, 240, 240, 1);
     box-shadow: 14px 14px 0px -5px rgba(240, 240, 240, 1);
     margin-right: 5%
 }

 .tarjeta img {
     width: 100%;
 }

 .contenido-tarjeta {
     padding: 10px;
 }

 .distancia {
     font-size: 12px;
 }

 .tarjeta span {
     font-size: 12px;
 }

 .tarjeta a {
     text-decoration: none;
     color: green;
 }

 /* ESTRELLAS DE VALORACION */

 .tarjeta label {
     color: grey;
 }

 .tarjeta input[type="radio"] {
     display: none;
 }

 .tarjeta .clasificacion {
     direction: rtl;
     /* right to left */
     unicode-bidi: bidi-override;
     /* bidi de bidireccional */
 }

 .tarjeta label:hover {
     color: limegreen;
 }

 .tarjeta label:hover~label {
     color: limegreen;
 }

 .tarjeta input[type="radio"]:checked~label {
     color: limegreen;
 }

 .tarjeta form {
     width: 250px;
     height: 40px;
 }

 .tarjeta form p {
     text-align: left;
 }

 .tarjeta form label {
     font-size: 20px;
 }

 /* SISTEMA DE COLUMNAS Y FILAS*/

 .row {
     padding: 20px 10%;
 }

 .col {
     float: left;
     width: 25%;
 }

 /* OTROS AJUSTE DE CAJA */

 h2 {
     margin-bottom: 25px;
 }